# MacOS temporary files
.DS_Store
.Trashes
*.swp
*.lock

# Xcode temporary files
*~.nib

# Xcode build files
DerivedData/
build/

# Xcode private settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Private build settings
Project.xcconfig

# Whitelist the defaults
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Xcode (somewhat) personal settings
*.xccheckout
xcuserdata/

# Xcode deprecated classes
# "Allegedly, if you manually 'deprecate' your classes, they get moved here."
*.moved-aside
